.calendar-container {
  max-height: 80vh; /* Establecer la altura máxima del calendario */
  overflow-y: auto; /* Permitir el desplazamiento vertical si el contenido excede la altura máxima */
  z-index: 1; /* Ajusta este valor según sea necesario */
}

.fc-today {
  background-color: inherit !important; /* Quita el color de fondo rojizo */
}

.fc-content-skeleton .fc-reserved {
  text-align: center; /* Centra el texto */
  color: white; /* Color de la letra blanco */
}

.fc-content-skeleton .fc-reserved .fc-title {
  font-weight: bold; /* Texto en negrita */
  line-height: 2em; /* Altura de línea para centrar verticalmente */
} 

.fc-time-grid .fc-slats td {
  text-align: center; /* Centra el contenido horizontalmente */
  vertical-align: middle; /* Centra el contenido verticalmente */
}