.calendar-container {
  max-height: 80vh; /* Establecer la altura máxima del calendario */
  overflow-y: auto; /* Permitir el desplazamiento vertical si el contenido excede la altura máxima */
  z-index: 1; /* Ajusta este valor según sea necesario */
}

.fc-today {
  background-color: inherit !important; /* Quita el color de fondo rojizo */
}

/* Para centrar el texto en los eventos */
.fc-event {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  color: white; /* Color de la letra blanco */
  font-weight: bold; /* Texto en negrita */
}

/* Asegurarse de que el título esté centrado y sin estilos adicionales */
.fc-event .fc-title {
  text-align: center;
  line-height: 1.5em; /* Ajustar según sea necesario */
}

.fc-content-skeleton .fc-reserved {
  background-color: red; /* Color de fondo para eventos reservados */
}

.fc-content-skeleton .fc-user-reserva {
  background-color: green; /* Color de fondo para eventos de usuario */
}

/* Opcional: Estilo para las franjas horarias del calendario */
.fc-time-grid .fc-slats td {
  text-align: center; /* Centra el contenido horizontalmente */
  vertical-align: middle; /* Centra el contenido verticalmente */
}
