<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inicio.css') }}">
</head>
<body>
    <div class="background-image-container">
        <div class="container">
            <img src="{{ url_for('static', filename='logo_euri.png') }}" class="welcome-image">
            <h1>EuriOrlas</h1>
            <form action="{{ url_for('private') }}" method="GET">
                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</body>
</html>
