{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Reservas</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reservas.css') }}">
</head>
<body>

<div class="calendar-container" id="calendario"></div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js'></script>
<script>
    var reservas_existente = {{ reservas | safe }};
    var usuario_id = {{ usuario.id }};

    $(document).ready(function() {
        var calendar = $('#calendario');

        function actualizarVista() {
            if ($(window).width() < 768) {
                calendar.fullCalendar('changeView', 'agendaDay');
            } else {
                calendar.fullCalendar('changeView', 'agendaWeek');
            }
        }

        $(window).resize(actualizarVista);

        calendar.fullCalendar({
            header: {
                left:   'prev,next',
                center: 'title',
                right:  ''
            },
            contentHeight: 'auto',
            defaultView: 'agendaWeek',
            selectable: true,
            selectHelper: true,
            slotDuration: '00:10:00',
            editable: false,
            selectLongPressDelay: 100,
            minTime: '09:00:00',
            maxTime: '17:00:00',
            scrollTimeReset : false,
            slotLabelInterval : '00:10:00',
            titleFormat: 'MMMM YYYY',
            columnFormat: 'ddd\nD',
            dayNamesShort: ['DOM', 'LUN', 'MAR', 'MIÉ', 'JUE', 'VIE', 'SÁB'],
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            allDaySlot: false,
            locale: 'es',
            selectOverlap: false,
            today: false,
            selectConstraint: {
                duration: { minutes: 10 },
                message: 'Solo se pueden seleccionar franjas de 10 minutos'
            },
            events: reservas_existente,
            eventRender: function(event, element) {
                if (event.estudiante_id === usuario_id) {
                    element.addClass('fc-user-reserva');
                    element.find('.fc-title').text('Tu reserva');
                } else if (event.title === "Reservado") {
                    element.addClass('fc-reserved');
                    element.find('.fc-title').text('Reservado');
                }
            },

            select: function(start, end) {
                var durationInMinutes = moment.duration(end.diff(start)).asMinutes();
                var startDateTime = start.format();
                var endDateTime = end.format();

                if (durationInMinutes === 10) {
                    if (confirm('¿Deseas guardar esta reserva?')) {
                        $.ajax({
                            type: 'POST',
                            url: '/guardar_reserva',
                            data: {
                                start: startDateTime,
                                end: endDateTime
                            },
                            success: function(response) {
                                console.log('Reserva guardada con éxito:', response);
                                location.reload();  // Recargar la página para reflejar los cambios
                            },
                            error: function(error) {
                                console.error('Error al guardar la reserva:', error);
                            }
                        });
                    }
                } else {
                    alert('Por favor, seleccione un intervalo de 10 minutos para la reserva.');
                    $('#calendario').fullCalendar('unselect');
                }
            },
            customButtons: {
                myCustomButton: {
                    text: function() {
                        return moment().format('MMMM YYYY');
                    },
                    click: function() {}
                }
            },
            viewRender: function(view, element) {
                $('.fc-myCustomButton-button').text(moment(view.start).format('MMMM YYYY'));
            },
        });

        actualizarVista(); // Llamar a la función para establecer la vista inicial
    });
</script>


</body>
</html>

{% endblock %}

