{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tusfotos.css') }}">
    <title>Mis Fotos</title>
</head>
<body>
    
    <div class="container">
        <div class="foto-container">
            {% if fotos %}
            <div class="navigation-buttons">
                <button id="prev-btn" onclick="showPrev()">Anterior</button>
                <button id="next-btn" onclick="showNext()">Siguiente</button>
            </div>
            <div class="foto">
                <img id="current-photo" src="{{ url_for('static', filename='fotos/' + fotos[0].filename) }}" alt="{{ fotos[0].filename }}">
            </div>

            {% else %}
                <p>No hay fotos disponibles.</p>
            {% endif %}
        </div>
    </div>

    <a href="{{ url_for('downloadphotos') }}" download class="boton-descargar">Descargar todas</a>
    
    <script>
        var currentPhotoIndex = 0;
        var photos = [
            {% for foto in fotos %}
                "{{ url_for('static', filename='fotos/' + foto.filename) }}",
            {% endfor %}
        ];

        function showNext() {
            currentPhotoIndex = (currentPhotoIndex + 1) % photos.length;
            document.getElementById('current-photo').src = photos[currentPhotoIndex];
        }

        function showPrev() {
            currentPhotoIndex = (currentPhotoIndex - 1 + photos.length) % photos.length;
            document.getElementById('current-photo').src = photos[currentPhotoIndex];
        }
    </script>
</body>
</html>

{% endblock %}
